{% extends 'base.html' %}
{% load static %}

{% block head_script %}
{% endblock %}

{% block title %}입지 분석도구{% endblock %}
{% block content %}
    <div>
        <div class="map-container" id="map">
            <div class="sidebar" style="width:330px">
                <div class="sidebar-list">
                    <div style="display: flex;flex-direction: column;">
                        <div class="sidebar-card-top" style="height:auto">
                            <div class="sidebar-card-top-title">
                                <a style="cursor:pointer;" onclick="location.reload()">입지 분석도구</a>
                            </div>
                            <div class="sidebar-tools">
                                <div class="menu-container">
                                    <div class="menu-title">
                                        <a><i style="width:18px;margin-right:2px" class="fa-solid fa-search"></i> 검색</a>
                                        <div onclick="document.getElementById('gfid').value = '';"><i
                                                class="fa-solid fa-close"></i></div>
                                    </div>
                                    <form style="display: flex;justify-content: space-between;padding:0;" class="search"
                                          id="searchForm">
                                        <input style="width:185px;background-color: #FFFFFF" type="text" id="gfid"
                                               name="gfid" placeholder="영역 고유코드 검색">
                                        <label for="gfid" style="display: none">검색</label>
                                        <button type="submit">검색</button>
                                    </form>
                                </div>
                                <div class="menu-container">
                                    <div class="menu-title">
                                        <a>공시지가</a>
                                        <div onclick="document.getElementById('minPrice').value = '';document.getElementById('maxPrice').value = '';">
                                            <i class="fa-solid fa-close"></i></div>
                                    </div>
                                    <form style="display: flex;justify-content: space-between;padding:0;" class="search"
                                          id="minmaxPriceForm">
                                        <input style="background-color: #FFFFFF" type="number" id="minPrice"
                                               name="minPrice" placeholder="최소">
                                        <label for="minPrice" style="display: none">최소</label>
                                        <a>-</a>
                                        <input style="background-color: #FFFFFF" type="number" id="maxPrice"
                                               name="maxPrice" placeholder="최대">
                                        <label for="maxPrice" style="display: none">최대</label>
                                        <button type="submit">설정</button>
                                    </form>
                                </div>
                                <div class="menu-container">
                                    <div class="menu-title">
                                        <a>신규 추천 입지(그리드)</a>
                                    </div>
                                    <div class="menu-button-container">
                                        {% if request.GET.ResultGEO1 %}
                                            <div class="menu-button"
                                                 onclick="manipulateURLParam('ResultGEO1', 'remove')">
                                                <a style="background-color: #F0766F;color:#FFFFFF">✔ 급속</a>
                                            </div>
                                        {% else %}
                                            <div class="menu-button" onclick="manipulateURLParam('ResultGEO1', 'true')">
                                                <a>□ 급속</a>
                                            </div>
                                        {% endif %}


                                        {% if request.GET.ResultGEO2 %}
                                            <div class="menu-button"
                                                 onclick="manipulateURLParam('ResultGEO2', 'remove')">
                                                <a style="background-color: #4277F1;color:#FFFFFF">✔ 완속</a>
                                            </div>
                                        {% else %}
                                            <div class="menu-button" onclick="manipulateURLParam('ResultGEO2', 'true')">
                                                <a>□ 완속</a>
                                            </div>
                                        {% endif %}


                                        {% if request.GET.ResultGEO3 %}
                                            <div class="menu-button"
                                                 onclick="manipulateURLParam('ResultGEO3', 'remove')">
                                                <a style="background-color: #BE83B9;color:#FFFFFF">✔ 급/완속</a>
                                            </div>
                                        {% else %}
                                            <div class="menu-button" onclick="manipulateURLParam('ResultGEO3', 'true')">
                                                <a>□ 급/완속</a>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="menu-container">
                                    <div class="menu-title">
                                        <a>베스트 추천 입지</a>
                                        <div onclick="window.open('/static/지훈과얼굴들_추천입지.pdf', '_blank');">
                                            <i class="fa-solid fa-file-pdf"></i></div>
                                        <div onclick="window.open('/static/지훈과얼굴들_추천입지.xlsx', '_blank');">
                                            <i class="fa-solid fa-file-csv"></i></div>
                                    </div>
                                    <div class="menu-button-container">
                                        {% if request.GET.RecommandGEO1 %}
                                            <div class="menu-button"
                                                 onclick="manipulateURLParam('RecommandGEO1', 'remove')">
                                                <a style="background-color: #1D3557;color:white">✔ 급속</a>
                                            </div>
                                        {% else %}
                                            <div class="menu-button"
                                                 onclick="manipulateURLParam('RecommandGEO1', 'true')">
                                                <a>□ 급속</a>
                                            </div>
                                        {% endif %}


                                        {% if request.GET.RecommandGEO2 %}
                                            <div class="menu-button"
                                                 onclick="manipulateURLParam('RecommandGEO2', 'remove')">
                                                <a style="background-color: #457B9D;color:white">✔ 완속</a>
                                            </div>
                                        {% else %}
                                            <div class="menu-button"
                                                 onclick="manipulateURLParam('RecommandGEO2', 'true')">
                                                <a>□ 완속</a>
                                            </div>
                                        {% endif %}


                                        {% if request.GET.RecommandGEO3 %}
                                            <div class="menu-button"
                                                 onclick="manipulateURLParam('RecommandGEO3', 'remove')">
                                                <a style="background-color: #750D37;color:white">✔ 급/완속</a>
                                            </div>
                                        {% else %}
                                            <div class="menu-button"
                                                 onclick="manipulateURLParam('RecommandGEO3', 'true')">
                                                <a>□ 급/완속</a>
                                            </div>
                                        {% endif %}


                                        {% if request.GET.RecommandGSGEO %}
                                            <div class="menu-button"
                                                 onclick="manipulateURLParam('RecommandGSGEO', 'remove')">
                                                <a style="background-color: #B87D4B;color:white">✔ 주유소</a>
                                            </div>
                                        {% else %}
                                            <div class="menu-button"
                                                 onclick="manipulateURLParam('RecommandGSGEO', 'true')">
                                                <a>□ 주유소</a>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="menu-container">
                                    <div class="menu-title">
                                        <a>기존 충전소 추가 설치 추천</a>
                                    </div>
                                    <div class="menu-button-container">
                                        {% if request.GET.existInstalledGEO1 %}
                                            <div class="menu-button"
                                                 onclick="manipulateURLParam('existInstalledGEO1', 'remove')">
                                                <a style="background-color: #85FF9E;color:#000000">✔ 급속</a>
                                            </div>
                                        {% else %}
                                            <div class="menu-button"
                                                 onclick="manipulateURLParam('existInstalledGEO1', 'true')">
                                                <a>□ 급속</a>
                                            </div>
                                        {% endif %}


                                        {% if request.GET.existInstalledGEO2 %}
                                            <div class="menu-button"
                                                 onclick="manipulateURLParam('existInstalledGEO2', 'remove')">
                                                <a style="background-color: #F29361;color:white">✔ 완속</a>
                                            </div>
                                        {% else %}
                                            <div class="menu-button"
                                                 onclick="manipulateURLParam('existInstalledGEO2', 'true')">
                                                <a>□ 완속</a>
                                            </div>
                                        {% endif %}


                                        {% if request.GET.existInstalledGridGEO %}
                                            <div class="menu-button"
                                                 onclick="manipulateURLParam('existInstalledGridGEO', 'remove')">
                                                <a style="background-color: #EAC435;color:white">✔ 격자</a>
                                            </div>
                                        {% else %}
                                            <div class="menu-button"
                                                 onclick="manipulateURLParam('existInstalledGridGEO', 'true')">
                                                <a>□ 격자</a>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>

                        </div>
                        {% if data.ui.searchData == 'None' %}

                            <div class="card" id="card"
                                 style="background-color: #FFFFFF;margin: 10px 0 10px 20px;width:300px;">
                                <div class="card-title"
                                     style="display: flex;flex-direction: row;justify-content: space-between;">
                                    <a style="margin:0;color: #f5453d;"><i style="margin-right:5px"
                                                                           class="fa-solid fa-warning"></i>검색 결과가 없습니다.</a>
                                    <div onclick="closeDetail();" style="width: 30px;height:30px;"><i
                                            style="color: #f5453d;margin-left:30px" class="fa-solid fa-close"></i></div>

                                </div>
                                <div class="card-contents-detail" style="padding-bottom: 10px;">
                                    <a style="font-weight: 700">영역 검색시 숫자코드만 지원합니다.</a>
                                </div>
                            </div>
                        {% else %}
                            <div class="card" id="card"
                                 style="display: none;background-color: #FFFFFF;margin: 10px 0 10px 20px;width:300px;">
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}s
{% block postScripts %}
    <script>
        function manipulateURLParam(param, action) {
            // 현재 URL을 가져옴
            let currentURL = window.location.href;

            // URL에 물음표가 있는지 확인
            let questionMarkIndex = currentURL.indexOf('?');
            let baseUrl = currentURL;
            let params = '';

            // URL에 물음표가 있는 경우
            if (questionMarkIndex !== -1) {
                baseUrl = currentURL.substring(0, questionMarkIndex);
                params = currentURL.substring(questionMarkIndex + 1);
            }

            // URL에 파라미터가 있는 경우
            if (params) {
                let queryParams = params.split('&');
                let paramExists = false;

                // 파라미터를 확인하여 이미 있는 경우 플래그 설정
                for (let i = 0; i < queryParams.length; i++) {
                    let pair = queryParams[i].split('=');
                    if (pair[0] === param) {
                        paramExists = true;
                        // 제거 동작일 경우 해당 파라미터를 배열에서 제거
                        if (action === 'remove') {
                            queryParams.splice(i, 1);
                        }
                        break;
                    }
                }

                // 파라미터 추가 동작일 경우
                if (action === 'true' && !paramExists) {
                    queryParams.push(param + '=true');
                }

                // 변경된 파라미터로 URL 다시 생성
                let newParams = queryParams.join('&');
                let newURL = baseUrl + '?' + newParams;
                window.history.replaceState({}, '', newURL);
            }

            // 페이지 다시 로드
            location.reload();
        }

        function closeDetail() {
            let cardDiv = document.getElementById('card');
            if (cardDiv) {
                cardDiv.style.display = 'none';
            }
        }

        window.onload = function () {
            // Django 뷰에서 전달받은 값 확인
            var searchData = "{{ data.ui.searchData }}";

            // searchData 값이 None이 아닌 경우
            if (searchData !== "None") {
                // 파라미터명으로 하면서 파라미터 값을 true로 추가
                var urlParams = new URLSearchParams(window.location.search);
                urlParams.set(searchData, 'true');

                // URL을 새로운 주소로 업데이트
                window.history.replaceState({}, '', window.location.pathname + '?' + urlParams.toString());
            }
        };


        // 함수: 경고 메시지 표시
        function showAlert(message) {
            return confirm(message);
        }

        // 함수: 검색 폼 초기화
        function resetSearchForm() {
            document.getElementById('gfid').value = '';
        }

        // 함수: 가격 입력 초기화
        function resetPriceInputs() {
            document.getElementById('minPrice').value = '';
            document.getElementById('maxPrice').value = '';
        }

        // 함수: 검색 버튼 클릭 시
        function handleSearch(type) {
            if (type === 'search') {
                // 경고 메시지 표시
                if (!showAlert("검색 시 선택된 항목이 전체 초기화됩니다. 계속하시겠습니까?")) {
                    // 사용자가 취소한 경우 아무것도 하지 않음
                    return;
                }
            }
            // 가격 입력 필드 값 가져오기
            var minPriceValue = document.getElementById('minPrice').value;
            var maxPriceValue = document.getElementById('maxPrice').value;

            // URL 파라미터 가져오기
            var urlParams = new URLSearchParams(window.location.search);

            // 기존 파라미터 유지 및 추가 또는 변경
            if (minPriceValue !== '') {
                urlParams.set('minPrice', minPriceValue);
            } else {
                urlParams.delete('minPrice');
            }
            if (maxPriceValue !== '') {
                urlParams.set('maxPrice', maxPriceValue);
            } else {
                urlParams.delete('maxPrice');
            }

            // 'gfid' 파라미터가 존재하면 삭제
            if (urlParams.has('gfid')) {
                urlParams.delete('gfid');
            }

            // URL에 새로운 파라미터 추가
            var url = window.location.pathname + '?' + urlParams.toString();

            // 페이지 이동
            window.location.href = url;

        }

        // 가격 입력 필드 이벤트 리스너 등록
        document.getElementById('minPrice').addEventListener('input', function () {
            // 검색 폼 초기화
            resetSearchForm();
        });

        document.getElementById('maxPrice').addEventListener('input', function () {
            // 검색 폼 초기화
            resetSearchForm();
        });
        document.addEventListener("DOMContentLoaded", function () {
            // 폼이 제출될 때 실행되는 함수
            document.getElementById('searchForm').addEventListener('submit', function (event) {
                event.preventDefault(); // 폼 제출 기본 동작 막기

                // gfid input 엘리먼트 가져오기
                var gfidInput = document.getElementById('gfid');

                // 기존 URL 파라미터 가져오기
                var urlParams = new URLSearchParams(window.location.search);

                // lng, lat, level 파라미터 값 확인
                var lngParam = urlParams.get('lng');
                var latParam = urlParams.get('lat');
                var levelParam = urlParams.get('level');

                // URL에 lng, lat, level 파라미터가 있는지 확인
                if (lngParam !== null && latParam !== null && levelParam !== null) {
                    // lng, lat, level 파라미터가 있을 경우 해당 값을 유지
                    urlParams.set('gfid', gfidInput.value); // gfid 파라미터 설정
                } else {
                    // lng, lat, level 파라미터가 없을 경우 gfid 값만 남기기
                    urlParams = new URLSearchParams(); // 새로운 URLSearchParams 객체 생성
                    urlParams.set('gfid', gfidInput.value); // gfid 파라미터 설정
                }

                // 새로운 URL 생성
                var newUrl = window.location.pathname + '?' + urlParams.toString();

                // 페이지 리다이렉션
                window.location.href = newUrl;
            });
        });

        // 검색 버튼 클릭 이벤트 리스너 등록
        document.getElementById('minmaxPriceForm').addEventListener('submit', function (event) {
            event.preventDefault();
            // 검색 실행
            handleSearch();
        });

        function getUrlParams() {
            var params = {};
            var queryString = window.location.search.substring(1);
            var urlParams = new URLSearchParams(queryString);
            urlParams.forEach(function (value, key) {
                params[key] = value;
            });
            return params;
        }

        // 다른 파라미터를 모두 삭제하는 함수
        function deleteOtherParams(params, paramKey) {
            for (const key in params) {
                if (key !== paramKey) {
                    delete params[key];
                }
            }
        }

        // 페이지 로드시 입력란에 URL 파라미터 값을 채우는 함수
        function populateInputWithParams(formId, paramKey) {
            const params = getURLParams();
            const input = document.getElementById(paramKey);

            if (params[paramKey]) {
                input.value = params[paramKey];
            }
        }

        function updateUrlParams(params) {
            var queryString = new URLSearchParams(params).toString();
            var url = window.location.pathname + '?' + queryString;
            window.history.replaceState({}, '', url);
        }

        function removeURLParameter(parameterName) {
            var url = window.location.href;
            var urlParts = url.split('?');

            if (urlParts.length >= 2) {
                var baseUrl = urlParts[0];
                var queryString = urlParts[1];

                var params = queryString.split('&');
                var newParams = [];

                for (var i = 0; i < params.length; i++) {
                    var paramName = params[i].split('=')[0];
                    if (paramName !== parameterName) {
                        newParams.push(params[i]);
                    }
                }

                var newQueryString = newParams.join('&');

                if (newQueryString !== '') {
                    return baseUrl + '?' + newQueryString;
                } else {
                    return baseUrl;
                }
            } else {
                return url;
            }
        }


        // 페이지 로드시 입력란에 URL 파라미터 값을 채우는 함수
        window.addEventListener('load', function () {
            var params = getUrlParams();

            if ('gfid' in params) {
                if (params['gfid'] !== '') {
                    document.getElementById('gfid').value = params['gfid'];
                } else {
                    window.history.pushState({}, document.title, removeURLParameter('gfid'));
                    location.reload()
                }
            }
            if ('minPrice' in params) {
                if (params['minPrice'] !== '') {
                    document.getElementById('minPrice').value = params['minPrice'];
                } else {
                    window.history.pushState({}, document.title, removeURLParameter('minPrice'));
                    location.reload()
                }
            }
            if ('maxPrice' in params) {
                if (params['maxPrice'] !== '') {
                    document.getElementById('maxPrice').value = params['maxPrice'];
                } else {
                    window.history.pushState({}, document.title, removeURLParameter('maxPrice'));
                    location.reload()
                }
            }


        });


        function transformCoord(coordinates, properties, type) {
            // MultiPolygon 지원을 위한 변환 과정
            let paths = [];

            if (type === 'polygon') {
                coordinates.forEach(polygon => {
                    let path = polygon.map(coord =>
                        new kakao.maps.LatLng(coord[1], coord[0]));
                    paths.push(path); // MultiPolygon의 경우 여러 path를 배열로 관리
                });
            } else if (type === 'circle') {
                coordinates.forEach(circle => {
                    paths.push(circle); // MultiPolygon의 경우 여러 path를 배열로 관리
                });

            }
            let result = {
                "name": properties.name,
                "gid": properties.gid,
                "fid": properties.fid,
                "y_pred_lgb": properties.y_pred_lgb,
                "color": properties.color,
                "public_price": properties.public_price,
                "population": properties.population,
                "altitude": properties.altitude,
                "emd_nm_k": properties.emd_nm_k,
                "path": paths
            };
            // 만약 properties.address가 존재한다면
            if (properties.address) {
                result.address = properties.address; // address 속성을 추가합니다.
            }

            return result;
        }

        // ResultGEO 데이터 처리
        const ResultGEO = {{ data.value.ResultGEO|safe }}

        let ResultGEO_AREA = [];
        // 좌표 추출 및 기타 정보 리스트화
        if (ResultGEO.features && ResultGEO.features.length > 0) {
            ResultGEO.features.forEach(feature => {
                let properties = feature.properties
                if (feature.geometry && feature.geometry.coordinates) {
                    // geometry의 타입에 따라 다루는 방식이 달라질 수 있습니다.
                    const coordinates = feature.geometry.coordinates;
                    ResultGEO_AREA.push(transformCoord(coordinates, properties, 'polygon'));
                }
            });
        }


        // RecommandGEO 데이터 처리
        const RecommandGEO = {{ data.value.RecommandGEO|safe }}

        let RecommandGEO_AREA = [];
        // 좌표 추출 및 기타 정보 리스트화
        if (RecommandGEO.features && RecommandGEO.features.length > 0) {
            RecommandGEO.features.forEach(feature => {
                let properties = feature.properties
                if (feature.geometry && feature.geometry.coordinates) {
                    // geometry의 타입에 따라 다루는 방식이 달라질 수 있습니다.
                    const coordinates = feature.geometry.coordinates;
                    RecommandGEO_AREA.push(transformCoord(coordinates, properties, 'circle'));
                }
            });
        }


        // RecommandGSGEO 데이터 처리
        const RecommandGSGEO = {{ data.value.RecommandGSGEO|safe }}

        let RecommandGSGEO_AREA = [];
        // 좌표 추출 및 기타 정보 리스트화
        if (RecommandGSGEO.features && RecommandGSGEO.features.length > 0) {
            RecommandGSGEO.features.forEach(feature => {
                let properties = feature.properties
                if (feature.geometry && feature.geometry.coordinates) {
                    // geometry의 타입에 따라 다루는 방식이 달라질 수 있습니다.
                    const coordinates = feature.geometry.coordinates;
                    RecommandGSGEO_AREA.push(transformCoord(coordinates, properties, 'circle'));
                }
            });
        }

        // existInstalledGEO 데이터 처리
        const existInstalledGEO = {{ data.value.existInstalledGEO|safe }}

        let existInstalledGEO_AREA = [];
        // 좌표 추출 및 기타 정보 리스트화
        if (existInstalledGEO.features && existInstalledGEO.features.length > 0) {
            existInstalledGEO.features.forEach(feature => {
                let properties = feature.properties
                if (feature.geometry && feature.geometry.coordinates) {
                    // geometry의 타입에 따라 다루는 방식이 달라질 수 있습니다.
                    const coordinates = feature.geometry.coordinates;
                    existInstalledGEO_AREA.push(transformCoord(coordinates, properties, 'circle'));
                }
            });
        }

        // existInstalledGridGEO 데이터 처리
        const existInstalledGridGEO = {{ data.value.existInstalledGridGEO|safe }}
        let existInstalledGridGEO_AREA = [];
        // 좌표 추출 및 기타 정보 리스트화
        if (existInstalledGridGEO.features && existInstalledGridGEO.features.length > 0) {
            existInstalledGridGEO.features.forEach(feature => {
                let properties = feature.properties
                if (feature.geometry && feature.geometry.coordinates) {
                    // geometry의 타입에 따라 다루는 방식이 달라질 수 있습니다.
                    const coordinates = feature.geometry.coordinates;
                    existInstalledGridGEO_AREA.push(transformCoord(coordinates, properties, 'polygon'));
                }
            });
        }


        // ResultGEO: 영역데이터 표시
        for (let i = 0, len = ResultGEO_AREA.length; i < len; i++) {
            displayArea(ResultGEO_AREA[i], 'polygon');
        }


        // existInstalledGridGEO: 영역데이터 표시
        for (let i = 0, len = existInstalledGridGEO_AREA.length; i < len; i++) {
            displayArea(existInstalledGridGEO_AREA[i], 'polygon');
        }

        // RecommandGEO: 영역데이터 표시
        for (let i = 0, len = RecommandGEO_AREA.length; i < len; i++) {
            displayArea(RecommandGEO_AREA[i], 'circle');
        }

        // RecommandGSGEO: 영역데이터 표시
        for (let i = 0, len = RecommandGSGEO_AREA.length; i < len; i++) {
            displayArea(RecommandGSGEO_AREA[i], 'circle');
        }

        // existInstalledGEO: 영역데이터 표시
        for (let i = 0, len = existInstalledGEO_AREA.length; i < len; i++) {
            displayArea(existInstalledGEO_AREA[i], 'circle');
        }


        // 다각형을 생성하고 이벤트를 등록하는 함수입니다
        function displayArea(area, figureType) {
            // 원 생성 생성합니다
            if (figureType === 'circle') {
                let circle = new kakao.maps.Circle({
                        center: new kakao.maps.LatLng(area.path[0][1], area.path[0][0]),  // 원의 중심좌표 입니다
                        radius: 100, // 미터 단위의 원의 반지름입니다
                        strokeWeight: 3, // 선의 두께입니다
                        strokeColor: area.color, // 선의 색깔입니다
                        strokeOpacity: 1, // 선의 불투명도 입니다 1에서 0 사이의 값이며 0에 가까울수록 투명합니다
                        strokeStyle: 'solid', // 선의 스타일 입니다
                        fillColor: '#d3d3d3', // 채우기 색깔입니다
                        fillOpacity: 0.7  // 채우기 불투명도 입니다
                    })
                ;

                circle.setMap(map);

                // 다각형에 mouseover 이벤트를 등록하고 이벤트가 발생하면 폴리곤의 채움색을 변경합니다
                // 지역명을 표시하는 커스텀오버레이를 지도위에 표시합니다
                kakao.maps.event.addListener(circle, 'mouseover', function (mouseEvent) {
                    circle.setOptions({fillColor: '#181818'});

                    customOverlay.setContent('<div class="area">' + area.name + '</div>');

                    customOverlay.setPosition(mouseEvent.latLng);
                    customOverlay.setMap(map);
                });

                // 다각형에 mousemove 이벤트를 등록하고 이벤트가 발생하면 커스텀 오버레이의 위치를 변경합니다
                kakao.maps.event.addListener(circle, 'mousemove', function (mouseEvent) {
                    customOverlay.setPosition(mouseEvent.latLng);
                });

                // 다각형에 mouseout 이벤트를 등록하고 이벤트가 발생하면 폴리곤의 채움색을 원래색으로 변경합니다
                // 커스텀 오버레이를 지도에서 제거합니다
                kakao.maps.event.addListener(circle, 'mouseout', function () {
                    circle.setOptions({fillColor: '#d3d3d3'});
                    customOverlay.setMap(null);
                });

                // 다각형에 click 이벤트를 등록하고 이벤트가 발생하면 다각형의 이름과 면적을 인포윈도우에 표시합니다
                kakao.maps.event.addListener(circle, 'click', function () {
                    let content =
                        '<div class="card-title" style="display: flex;flex-direction: row;justify-content: space-between">' +
                        '   <a style="margin:0;color: #181818;">' + area.name + '</a>' +
                        '   <div onclick="closeDetail();" style="width: 15px;height:15px;cursor:pointer;"><i class="fa-solid fa-close"></i></div>' +
                        '</div>' +

                        (area.address ?
                            '<div class="card-contents-detail" style="display: flex;flex-direction: column;padding: 0 0 20px 0">' +
                            '   <a style="font-weight: 700"><i style="width:15px" class="fa-solid fa-location-dot"></i>주소</a><a style=padding-left:3px>' + area.address + '</a>' +
                            '</div>'
                            : '') +

                        (area.gid ?
                            '<div class="card-contents-detail">' +
                            '   <a style="font-weight: 700"><i style="width:15px" class="fa-solid fa-fingerprint"></i>고유코드:</a><a style=padding-left:3px>' + area.gid +
                            (area.fid ?
                                '(' + area.fid + ')'
                                : '') +

                            '</a>' +
                            '</div>'
                            : '') +

                        '<div class="card-contents-detail">' +
                        '   <a style="font-weight: 700"><i style="width:15px" class="fa-solid fa-location-dot"></i>법정동:</a><a style=padding-left:3px>' + area.emd_nm_k + '</a>' +
                        '</div>' +

                        '<div class="card-contents-detail">' +
                        '   <a style="font-weight: 700"><i style="width:15px" class="fa-solid fa-sack-dollar"></i>공시지가:</a><a style=padding-left:3px>' + Math.floor(area.public_price).toLocaleString('ko-KR') + ' 원/㎡</a>' +
                        '</div>' +

                        '<div class="card-contents-detail">' +
                        '   <a style="font-weight: 700"><i style="width:15px" class="fa-solid fa-people-roof"></i>인구:</a><a style=padding-left:3px>' + area.population + ' 명</a>' +
                        '</div>' +

                        '<div class="card-contents-detail" style="padding: 0 0 20px 0;">' +
                        '   <a style="font-weight: 700"><i style="width:15px" class="fa-solid fa-up-down"></i>고도:</a><a style=padding-left:3px>' + area.altitude + ' m</div>';
                    +
                        '</div>';
                    const element = document.getElementById('card');
                    element.style.display = 'block'
                    element.innerHTML = content
                })

            } else if (figureType === 'polygon') {
                let polygon = new kakao.maps.Polygon({
                    map: map,
                    path: area.path,
                    strokeWeight: 3,
                    strokeColor: area.color,
                    strokeOpacity: 1,
                    fillColor: '#FFFFFF',
                    fillOpacity: 0.5
                });

                // 다각형에 mouseover 이벤트를 등록하고 이벤트가 발생하면 폴리곤의 채움색을 변경합니다
                // 지역명을 표시하는 커스텀오버레이를 지도위에 표시합니다
                kakao.maps.event.addListener(polygon, 'mouseover', function (mouseEvent) {
                    polygon.setOptions({fillColor: '#181818'});

                    customOverlay.setContent('<div class="area">' + area.name + '</div>');

                    customOverlay.setPosition(mouseEvent.latLng);
                    customOverlay.setMap(map);
                });

                // 다각형에 mousemove 이벤트를 등록하고 이벤트가 발생하면 커스텀 오버레이의 위치를 변경합니다
                kakao.maps.event.addListener(polygon, 'mousemove', function (mouseEvent) {

                    customOverlay.setPosition(mouseEvent.latLng);
                });

                // 다각형에 mouseout 이벤트를 등록하고 이벤트가 발생하면 폴리곤의 채움색을 원래색으로 변경합니다
                // 커스텀 오버레이를 지도에서 제거합니다
                kakao.maps.event.addListener(polygon, 'mouseout', function () {
                    polygon.setOptions({fillColor: '#FFFFFF'});
                    customOverlay.setMap(null);
                });

                // 다각형에 click 이벤트를 등록하고 이벤트가 발생하면 다각형의 이름과 면적을 인포윈도우에 표시합니다
                kakao.maps.event.addListener(polygon, 'click', function () {
                    let predictionText = '';
                    if (area.y_pred_lgb === 1) {
                        predictionText = '급속';
                        predictionColor = '#EC6060'
                    } else if (area.y_pred_lgb === 2) {
                        predictionText = '완속';
                        predictionColor = '#4277F1'
                    } else if (area.y_pred_lgb === 3) {
                        predictionText = '급/완속';
                        predictionColor = '#BE83B9'
                    }
                    let content =
                        '<div class="card-title" style="display: flex;flex-direction: row;justify-content: space-between">' +
                        '   <div style="display: flex"><a style="margin:0;color: #181818;">' + area.name + '</a>' +
                        '   <div style="margin: 0 0 0 10px;height:20px;background: ' + predictionColor + ';border-radius: 15px;padding: 2px 10px 2px 5px;color:#FFFFFF;"><i class="fa-solid fa-bolt"></i><a style="font-size:14px;">' + predictionText + '</a></div></div>' +
                        '   <div onclick="closeDetail();" style="width: 15px;height:15px;cursor:pointer;"><i class="fa-solid fa-close"></i></div>' +
                        '</div>' +
                        (area.gid ?
                            '<div class="card-contents-detail">' +
                            '   <a style="font-weight: 700"><i style="width:15px" class="fa-solid fa-fingerprint"></i>고유코드:</a><a style=padding-left:3px>' + area.gid +
                            (area.fid ?
                                '(' + area.fid + ')'
                                : '') +

                            '</a>' +
                            '</div>'
                            : '') +
                        '<div class="card-contents-detail">' +
                        '   <a style="font-weight: 700"><i style="width:15px" class="fa-solid fa-location-dot"></i>법정동:</a><a style=padding-left:3px>' + area.emd_nm_k + '</a>' +
                        '</div>' +

                        '<div class="card-contents-detail">' +
                        '   <a style="font-weight: 700"><i style="width:15px" class="fa-solid fa-sack-dollar"></i>공시지가:</a><a style=padding-left:3px>' + Math.floor(area.public_price).toLocaleString('ko-KR') + ' 원/㎡</a>' +
                        '</div>' +

                        '<div class="card-contents-detail">' +
                        '   <a style="font-weight: 700"><i style="width:15px" class="fa-solid fa-people-roof"></i>인구:</a><a style=padding-left:3px>' + area.population + ' 명</a>' +
                        '</div>' +

                        '<div class="card-contents-detail" style="padding: 0 0 20px 0;">' +
                        '   <a style="font-weight: 700"><i style="width:15px" class="fa-solid fa-up-down"></i>고도:</a><a style=padding-left:3px>' + area.altitude + ' m</div>';
                    '</div>';
                    const element = document.getElementById('card');
                    element.style.display = 'block'
                    element.innerHTML = content
                })
            }

        }

    </script>

{% endblock %}

