@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");

@font-face {
    font-family: 'S-CoreDream-6Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-6Bold') format('woff');
    font-weight: normal;
    font-style: normal;
}

a, h1, h2, h3, h4, span, table, div, input, input::placeholder {
    letter-spacing: -0.8px;
    font-family: Pretendard;
    color: #1c1c1c;
    text-decoration-line: none;
}

html {
    height: 100%;
}


body {
    min-height: 100%;
    overflow-y: hidden;
    margin: 0px;
}

.map-container {
    position: absolute;
    height: 100vh;
    width: 100%;
}


#map {
    height: 100%;
    width: 100%;
}

.topbar {
    display: flex;
    justify-content: space-between;
    background-color: #FFFFFF;
    box-shadow: 0px 35px 25px -3px rgba(0,0,0,0.1);
    width: 100vw;
    margin: 0px;
    padding: 15px 0px;
    vertical-align: center;
    position: relative;
    z-index: 5
    /*padding-bottom: 20px;*/
}

.topbar-contents {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;;
}

.topbar-contents a {
    font-size: 20px;
    font-weight: 600;
    margin: 0px 10px 0px 10px;
}

.topbar-group {
    display: block;
}

.topbar-logo {
    margin: 0px 60px 0px 60px;
    cursor: pointer;
}

.topbar-logo img {
    width: 200px;
    height: auto;
    margin: 0px;
}

.topbar-logo h1 {
    font-family: S-CoreDream-6Bold;
    text-align: center;
    font-size: 14.5px;
    width: 200px;
    margin: 0px;
    color: #64BF6A;
}


.sidebar {
    display: flex;
    width: 800px;
    position: relative;
    z-index: 10;
}

.sidebar-list {
    width: 320px;
    overflow-y: auto;
    max-height: calc(100vh - 85px);
}


.sidebar-card-top {
    display: flex;
    flex-direction: column;
    background: #ffffff;
    border-radius: 20px;
    padding: 5px 10px;
    margin: 20px 20px 10px 20px;
    text-align: center;
    box-shadow: 0px 5px 5px 5px rgba(0,0,0,0.1);
}

.sidebar-card-top-title {
    margin: 15px 0px 10px 0px;
}

.sidebar-card-top-title a {
    font-weight: 800;
    font-size: 30px;
}

.pagination {
    display: flex;
    justify-content: space-between;
    margin: 0px 0px 10px 0px;

}

.pagination a {
    color: #181818;
    padding: 0px 5px;
}


.pagination a[href]:hover {
    background: #bebebe;
    padding: 0px 5px;
    border-radius: 5px;
}

.card {
    background: #3A3A3A;
    height: 105px;
    border-radius: 20px;
    align-items: center;
    margin: 10px 20px;
    box-shadow: 0px 5px 5px 5px rgba(0,0,0,0.1);
    cursor: pointer;
}

.card-title {
    justify-content: center;
    width: 260px;
    margin: 0px 15px 10px 15px;
    padding: 20px 0px 0px 0px;
}

.card-title a {
    font-size: 23px;
    font-weight: 600;
    margin: 20px 0px 5px 0px;
    color: white;
}


.card-contents {
    display: flex;
    width: 240px;
    margin: 5px 20px 5px 20px;
    height: 25px;
}

.card-contents a {
    font-size: 18px;
    color: white;
}


.sidebar-detail {
    width: 380px;
}

.card-detail {
    background:#FFFFFF;
    height: 90%;
    width: 350px;
    border-radius: 20px;
    align-items: center;
    box-shadow: 0px 5px 5px 5px rgba(0,0,0,0.1);
}

.card-title-detail {
    text-align: left;
    width: 350px;
    padding: 20px 0px 10px 0px;
    margin: 20px 0px 0px 20px;

}

.card-title-detail a {
    font-size: 30px;
    color: #181818;
    font-weight: 800;
}

.card-contents-detail {
    display: flex;
    margin: 5px 20px 5px 20px;
    justify-content: left;
}

.card-contents-detail svg {
    margin: 0px 5px 0px 0px;
}



.card-icon {
    background: #181818;
    border-radius: 20px;
    padding: 2px 10px;
    font-weight: 600;
    margin: 0px 5px 0px 0px;
}



.card-subtitle {
    text-align: left;
    height: 25px;
    margin: 10px 0px 5px 20px;

}

.card-subtitle a {
    background: #181818;
    border-radius: 20px;
    padding: 2px 10px;
    font-size: 20px;
    color: #FFFFFF;
    font-weight: 600;
}

.card-subtitle img {
    filter: invert(100%) sepia(5%) saturate(0%) hue-rotate(41deg) brightness(107%) contrast(105%);
    height: 20px;
}