{% load static %}

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>지훈과 얼굴들</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script src="https://kit.fontawesome.com/addd9ad2f2.js" crossorigin="anonymous"></script>
</head>
<body style="margin: 0px;">
<div class="topbar">
    <div class="topbar-logo">
        <img src="{% static 'logo.png' %}">
        <h1>전기자동차 충전소 입지 분석도구</h1>
    </div>
    <div class="topbar-contents">
        <div class="topbar-group" style="margin: 0px 0px 0px 30px">
            <a href="#">입지 분석도구</a>
            <a href="#">충전소 정보</a>
            <a href="#">충전기 관리</a>
            <a href="#">고객지원</a>
        </div>
        <div class="topbar-group" style="margin: 0px 20px 0px 0px">
            <a href="#">로그인</a>
            <a href="#">회원가입</a>
        </div>
    </div>
</div>
<div class="contents">
    <div class="sidebar">
        <div class="card" style="background:#6cd273;">
            <div class="card-title">
                <a>지훈 충전소</a>
            </div>
            <div class="card-contents">
                <div style="background: #FFFFFF;border-radius: 20px;padding: 3px 12px">
                    <i style="color: #FC4F5C" class="fa-solid fa-bolt"></i>
                    <a style="font-weight: 600;color: #FC4F5C">급속 50kW</a>
                </div>
                <a style="margin: 0px 0px 0px 10px;padding: 3px 0px">1기 사용가능</a>
            </div>
            <div class="card-contents">
                <div style="background: #FFFFFF;border-radius: 20px;padding: 3px 12px">
                    <i style="color: #4294FB" class="fa-solid fa-bolt"></i>
                    <a style="font-weight: 600;color: #4294FB">급속 50kW</a>
                </div>
                <a style="margin: 0px 0px 0px 10px;padding: 3px 0px">10기 사용가능</a>
            </div>
        </div>

        <div class="card" style="background:#ee869a;">
            <div class="card-title">
                <a>혜원 충전소</a>
            </div>
            <div class="card-contents">
                <div style="background: #FFFFFF;border-radius: 20px;padding: 3px 12px">
                    <i style="color: #FC4F5C" class="fa-solid fa-bolt"></i>
                    <a style="font-weight: 600;color: #FC4F5C">급속 50kW</a>
                </div>
                <a style="margin: 0px 0px 0px 10px;padding: 3px 0px">1기 사용가능</a>
            </div>
            <div class="card-contents">
                <div style="background: #FFFFFF;border-radius: 20px;padding: 3px 12px">
                    <i style="color: #4294FB" class="fa-solid fa-bolt"></i>
                    <a style="font-weight: 600;color: #4294FB">급속 50kW</a>
                </div>
                <a style="margin: 0px 0px 0px 10px;padding: 3px 0px">10기 사용가능</a>
            </div>
        </div>

        <div class="card" style="background:#6670c9;">
            <div class="card-title">
                <a>지건 충전소</a>
            </div>
            <div class="card-contents">
                <div style="background: #FFFFFF;border-radius: 20px;padding: 3px 12px">
                    <i style="color: #FC4F5C" class="fa-solid fa-bolt"></i>
                    <a style="font-weight: 600;color: #FC4F5C">급속 50kW</a>
                </div>
                <a style="margin: 0px 0px 0px 10px;padding: 3px 0px">1기 사용가능</a>
            </div>
            <div class="card-contents">
                <div style="background: #FFFFFF;border-radius: 20px;padding: 3px 12px">
                    <i style="color: #4294FB" class="fa-solid fa-bolt"></i>
                    <a style="font-weight: 600;color: #4294FB">급속 50kW</a>
                </div>
                <a style="margin: 0px 0px 0px 10px;padding: 3px 0px">10기 사용가능</a>
            </div>
        </div>

        <div class="card" style="background:#ffc869;">
            <div class="card-title">
                <a>예원 충전소</a>
            </div>
            <div class="card-contents">
                <div style="background: #FFFFFF;border-radius: 20px;padding: 3px 12px">
                    <i style="color: #FC4F5C" class="fa-solid fa-bolt"></i>
                    <a style="font-weight: 600;color: #FC4F5C">급속 50kW</a>
                </div>
                <a style="margin: 0px 0px 0px 10px;padding: 3px 0px">1기 사용가능</a>
            </div>
            <div class="card-contents">
                <div style="background: #FFFFFF;border-radius: 20px;padding: 3px 12px">
                    <i style="color: #4294FB" class="fa-solid fa-bolt"></i>
                    <a style="font-weight: 600;color: #4294FB">급속 50kW</a>
                </div>
                <a style="margin: 0px 0px 0px 10px;padding: 3px 0px">10기 사용가능</a>
            </div>
        </div>

        <div class="card" style="background:#ff6e4f;">
            <div class="card-title">
                <a>수민 충전소</a>
            </div>
            <div class="card-contents">
                <div style="background: #FFFFFF;border-radius: 20px;padding: 3px 12px">
                    <i style="color: #FC4F5C" class="fa-solid fa-bolt"></i>
                    <a style="font-weight: 600;color: #FC4F5C">급속 50kW</a>
                </div>
                <a style="margin: 0px 0px 0px 10px;padding: 3px 0px">1기 사용가능</a>
            </div>
            <div class="card-contents">
                <div style="background: #FFFFFF;border-radius: 20px;padding: 3px 12px">
                    <i style="color: #4294FB" class="fa-solid fa-bolt"></i>
                    <a style="font-weight: 600;color: #4294FB">급속 50kW</a>
                </div>
                <a style="margin: 0px 0px 0px 10px;padding: 3px 0px">10기 사용가능</a>
            </div>
        </div>

        <div class="card" style="background:#6670c9;">
            <div class="card-title">
                <a>유진 충전소</a>
            </div>
            <div class="card-contents">
                <div style="background: #FFFFFF;border-radius: 20px;padding: 3px 12px">
                    <i style="color: #FC4F5C" class="fa-solid fa-bolt"></i>
                    <a style="font-weight: 600;color: #FC4F5C">급속 50kW</a>
                </div>
                <a style="margin: 0px 0px 0px 10px;padding: 3px 0px">1기 사용가능</a>
            </div>
            <div class="card-contents">
                <div style="background: #FFFFFF;border-radius: 20px;padding: 3px 12px">
                    <i style="color: #4294FB" class="fa-solid fa-bolt"></i>
                    <a style="font-weight: 600;color: #4294FB">급속 50kW</a>
                </div>
                <a style="margin: 0px 0px 0px 10px;padding: 3px 0px">10기 사용가능</a>
            </div>
        </div>

    </div>
    <div class="map">
        <div id="map" style="width:100%;height: 100%"></div>
    </div>
</div>


<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=fdcff0079fabbfce8f4e4c2b86c4d763"></script>

<script>
    var container = document.getElementById('map');
    var options = {
        center: new kakao.maps.LatLng(35.01580038568427, 126.71084931904467),
        level: 5
    };

    var map = new kakao.maps.Map(container, options);

    var topbar = document.querySelector(".topbar");
    topbar.style.boxShadow = "0px 35px 25px -3px rgba(0,0,0,0.1)";

</script>

</body>
</html>
