{% extends 'base.html' %}
{% load static %}

{% block title %}지훈과 얼굴들{% endblock %}
{% block content %}
    <div>
    <div class="map-container" id="map">
        <div class="sidebar">
            <div class="sidebar-list">
                <div style="display: flex;flex-direction: row;width:330px;">
                    <div class="sidebar-card-top">
                        <div class="sidebar-card-top-title">
                            <a href="/stationInfo">충전소 정보</a>
                        </div>
                        <div class="pagination">
                            {% if data.value.result.has_previous %}
                                <a style="font-weight: 600" href="/stationInfo?page=1">&laquo;</a>
                                <a style="font-weight: 400"
                                   href="/stationInfo?page={{ data.value.result.previous_page_number }}">이전</a>
                            {% else %}
                                <a style="font-weight: 600;color:#5d5d5d">&laquo;</a>
                                <a style="font-weight: 400;color:#5d5d5d">이전</a>
                            {% endif %}

                            <a>{{ data.value.result.number }} / {{ data.value.result.paginator.num_pages }}</a>

                            {% if data.value.result.has_next %}
                                <a href="/stationInfo?page={{ data.value.result.next_page_number }}">다음</a>
                                <a style="font-weight: 600"
                                   href="/stationInfo?page={{ data.value.result.paginator.num_pages }}">&raquo;</a>
                            {% else %}
                                <a style="font-weight: 600;color:#5d5d5d">다음</a>
                                <a style="font-weight: 400;color:#5d5d5d">&raquo;</a>
                            {% endif %}
                        </div>
                    </div>
                    <div class="sidebar-card-toggle"
                         onclick="toggleSidebar('.sidebar-detail', 'sidebar-hidden-detail', 'remove')">
                        <i class="fa-solid fa-chevron-right"></i>
                    </div>
                </div>
                {% for station_info in data.value.result %}
                    <div class="card" onclick="updateStationID('{{ station_info.Station_ID }}');">
                        <div class="card-title">
                            <a>{{ station_info.Charging_Station_Name }}</a>
                        </div>
                        {% if '급속' in station_info and '완속' in station_info %}
                            <div class="card-contents">
                                <div style="background: #FFFFFF;border-radius: 20px;padding: 3px 12px">
                                    <i style="color: #FC4F5C" class="fa-solid fa-bolt"></i>
                                    <a style="font-weight: 600;color: #FC4F5C">급속</a>
                                </div>
                                <a style="margin: 0px 0px 0px 10px;padding: 3px 0px">
                                    {{ station_info.급속.count }}기</a>
                            </div>
                            <div class="card-contents" style="padding: 0px 0px 20px 0px;">
                                <div style="background: #FFFFFF;border-radius: 20px;padding: 3px 12px">
                                    <i style="color: #3973F6" class="fa-solid fa-bolt"></i>
                                    <a style="font-weight: 600;color: #3973F6">완속</a>
                                </div>
                                <a style="margin: 0px 0px 0px 10px;padding: 3px 0px">
                                    {{ station_info.완속.count }}기</a>
                            </div>
                        {% else %}
                            {% if '급속' in station_info %}
                                <div class="card-contents" style="padding: 0px 0px 20px 0px;">
                                    <div style="background: #FFFFFF;border-radius: 20px;padding: 3px 12px">
                                        <i style="color: #FC4F5C" class="fa-solid fa-bolt"></i>
                                        <a style="font-weight: 600;color: #FC4F5C">급속</a>
                                    </div>
                                    <a style="margin: 0px 0px 0px 10px;padding: 3px 0px">
                                        {{ station_info.급속.count }}기</a>
                                </div>
                            {% endif %}
                            {% if '완속' in station_info %}
                                <div class="card-contents" style="padding: 0px 0px 20px 0px;">
                                    <div style="background: #FFFFFF;border-radius: 20px;padding: 3px 12px">
                                        <i style="color: #3973F6" class="fa-solid fa-bolt"></i>
                                        <a style="font-weight: 600;color: #3973F6">완속</a>
                                    </div>
                                    <a style="margin: 0px 0px 0px 10px;padding: 3px 0px">
                                        {{ station_info.완속.count }}기</a>
                                </div>
                            {% endif %}
                        {% endif %}
                    </div>
                {% endfor %}
                <div class="sidebar-card-top" style="height: auto">
                    <div class="pagination">
                        {% if data.value.result.has_previous %}
                            <a style="font-weight: 600" href="/stationInfo?page=1">&laquo;</a>
                            <a style="font-weight: 400"
                               href="/stationInfo?page={{ data.value.result.previous_page_number }}">이전</a>
                        {% else %}
                            <a style="font-weight: 600;color:#5d5d5d">&laquo;</a>
                            <a style="font-weight: 400;color:#5d5d5d">이전</a>
                        {% endif %}

                        <a>{{ data.value.result.number }} / {{ data.value.result.paginator.num_pages }}</a>

                        {% if data.value.result.has_next %}
                            <a href="/stationInfo?page={{ data.value.result.next_page_number }}">다음</a>
                            <a style="font-weight: 600"
                               href="/stationInfo?page={{ data.value.result.paginator.num_pages }}">&raquo;</a>
                        {% else %}
                            <a style="font-weight: 600;color:#5d5d5d">다음</a>
                            <a style="font-weight: 400;color:#5d5d5d">&raquo;</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        
            {% if data.ui.isDetail == True %}
                <div class="sidebar-detail">
                    <div class="card-detail">
                        <div class="card-title-detail">
                            <div style="display: flex;justify-content: space-between">
                                <a>{{ data.value.stationInfo.Charging_Station_Name }}</a>
                                <button onclick="toggleSidebar('.sidebar-detail', 'sidebar-hidden-detail', 'add')"><i
                                        class="fa-solid fa-close"></i></button>
                            </div>
                        </div>
                        <div class="card-contents-detail">
                            <a><i class="fa-solid fa-location-dot"></i>{{ data.value.stationInfo.Address }}</a>
                        </div>
                        <div class="card-title-detail">
                            <a>현재 충전기 상태</a>
                        </div>
                        <div>
                            {% if data.value.stationInfo.stationLiveInfo != None %}
                                {% for chgerType, chargers in data.value.stationInfo.stationLiveInfo.items %}
                                    <div {% if not forloop.last %} style="margin-bottom: 20px"{% endif %}>
                                        {% if data.value.stationInfo.isLive == False %}
                                            <div class="card-contents-detail" style="margin: 0px 0px 20px 20px">
                                                <a><i class="fa-solid fa-warning"></i>알림: 실시간 데이터가 아닙니다.</a>
                                            </div>
                                        {% endif %}
                                        <div class="card-subtitle">
                                            {% if chgerType == "01" %}
                                                <a><img src="{% static 'ev-plug-chademo.svg' %}"/> DC차데모</a>
                                            {% elif chgerType == "02" %}
                                                <a><img src="{% static 'ev-plug-type2.svg' %}"/> AC완속</a>
                                            {% elif chgerType == "03" %}
                                                <a><img src="{% static 'ev-plug-chademo.svg' %}"/>
                                                    <img src="{% static 'ev-plug-type2.svg' %}"/> DC차데모+AC3상</a>
                                            {% elif chgerType == "04" %}
                                                <a><img src="{% static 'ev-plug-ccs1.svg' %}"/> DC콤보</a>
                                            {% elif chgerType == "05" %}
                                                <a><img src="{% static 'ev-plug-chademo.svg' %}"/>
                                                    <img src="{% static 'ev-plug-ccs1.svg' %}"/> DC차데모+DC콤보</a>
                                            {% elif chgerType == "06" %}
                                                <a><img src="{% static 'ev-plug-chademo.svg' %}"/>
                                                    <img src="{% static 'ev-plug-type2.svg' %}"/>
                                                    <img src="{% static 'ev-plug-ccs1.svg' %}"/>DC차데모+AC3상+DC콤보</a>
                                            {% elif chgerType == "07" %}
                                                <a><img src="{% static 'ev-plug-type2.svg' %}"/> AC3상</a>
                                            {% elif chgerType == "08" %}
                                                <a><img src="{% static 'ev-plug-type2.svg' %}"/>
                                                    <img src="{% static 'ev-plug-ccs1.svg' %}"/>DC콤보(완속)</a>
                                            {% elif chgerType == "89" %}
                                                <a>H2 {{ charger.output }}kW</a>
                                            {% endif %}
                                        </div>

                                        {% for chagerDetail in chargers %}
                                            <div class="card-contents-detail">
                                                <div class="card-icon">
                                                    {% if chagerDetail.hasLogo %}
                                                        <img src="{% static 'business-logo/'|add:chagerDetail.bnm|add:".png" %}">
                                                    {% else %}
                                                        <i class="fa-regular fa-circle-question"></i>
                                                    {% endif %}
                                                    <a style="font-weight:600">{{ chagerDetail.bnm }} {{ chagerDetail.chgerId }}기</a>
                                                    {% if chagerDetail.output == '' %}
                                                        <a style="color: #64c947">완속</a>
                                                    {% else %}
                                                        {% with chagerDetail.output|add:0 as output_int %}
                                                            {% if output_int > 13 %}
                                                                <a style="color: #46d8f2">{{ output_int }}kW</a>
                                                            {% elif output_int > 100 %}
                                                                <a style="color: #f24693">{{ output_int }}kW</a>
                                                            {% elif output_int > 200 %}
                                                                <a style="color: #9b5ce9">{{ output_int }}kW</a>
                                                            {% else %}
                                                                <a style="color: #64C947FF">{{ output_int }}kW</a>
                                                            {% endif %}
                                                        {% endwith %}
                                                    {% endif %}

                                                    {% if data.value.stationInfo.isLive == False %}
                                                        <a style="color: #E95C61"><i class="fa-solid fa-warning"></i>실시간X</a>
                                                    {% endif %}
                                                    {% if chagerDetail.stat == '1' %}
                                                        <a style="color: #E95C61"><i class="fa-solid fa-warning"></i>통신이상</a>
                                                    {% elif chagerDetail.stat == '2' %}
                                                        <a style="color: #64C947FF"><i class="fa-solid fa-check"></i>사용가능</a>
                                                    {% elif chagerDetail.stat == '3' %}
                                                        <a style="color: #E95C61"><i
                                                                class="fa-solid fa-xmark"></i>충전중</a>
                                                    {% elif chagerDetail.stat == '4' %}
                                                        <a style="color: #1E1F22"><i class="fa-solid fa-warning"></i>운영중지</a>
                                                    {% elif chagerDetail.stat == '5' %}
                                                        <a style="color: #1E1F22"><i class="fa-solid fa-warning"></i>점검중</a>
                                                    {% elif chagerDetail.stat == '9' %}
                                                        <a style="color: #939393"><i class="fa-solid fa-warning"></i>상태미확인</a>
                                                    {% endif %}

                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                {% endfor %}
                            {% else %}
                                <div class="card-contents-detail">
                                    <a><i class="fa-solid fa-warning"></i>이 충전소의 공공데이터를 불러올 수 없습니다.</a>
                                </div>
                            {% endif %}

                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

